*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: #0b2e13;
    color: white
}

header{
    padding: 20px 0;
    border-bottom: 1px solid gray;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.content{
    display: flex;
    flex-direction: column;
    align-items:normal;
    gap: 30px;
}

button{
    background-color: #387ed1;
    color: white;
    padding:  10px 20px;
    margin-top: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: black;
    transition: all 1ms;
}


/* flexibox */
.container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/*************************project section start*****************************/
/*PROJECT page*/
.flex-container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    /* height: 90vh; */
    /* padding: 30px 30px; */
    margin-top: 50px;
}

.proj-box{
    text-align:center;
    padding: 50px 50px;
    font-size: 1rem;
    border: 5px solid white;
    
}

.proj-box button{
    margin-top: 20px;
}
/*************************project section end*****************************/

.box{
    text-align:start;
    padding: 50px 50px;
    font-size: 1rem;
}

#box1{
    margin: 50px 0;
}

#box2{
    margin: 50px 0;
}

#box3 {
    margin: 50px 0;
}

#box4 {
    margin: 50px 0;
}

#logo a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
}